.layout{
    width: 100vw;
    height: 100vh;
}
.navigation{

    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 50px;
    height: 50px;
    text-decoration: none;
    background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    font-size: large;
    font-weight: 700;
    color: #EBD8FF;
}
.footer{

    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 50px;
    background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    font-size: large;
    font-weight: 700;
    color: #EBD8FF;
}